/* tag setting */
*{ margin: 0; padding: 0; box-sizing: border-box; color: #333; font-family: sans-serif; }
li{ list-style: none; }
a{ text-decoration: none; color: inherit; }
img{ width: 100%; height: 100%; object-fit: cover; vertical-align: middle; }

/* class setting */
.flex{ display: flex; }
.grid{ display: grid; }
.rel{ position: relative; }
.abs{ position: absolute; }
.container{ width: 1400px; height: 100%; margin: 0 auto; }
/* event */
#event .card-container{
   grid-template-columns: repeat(4,1fr);
   gap:1rem;
}

/* 
.card rel data-product="dsasa"
 .front .abs 
   .img-box > img 
 .back .abs

*/


#event .card{ height: 300px; perspective: 500px;}
#event .card::before{content: attr(data-product); position: absolute; right: 0; top: 0; background: rgba(0,0,0,.3); color: #fff; padding: 0.5rem; font-size: 0.85rem; display: none; z-index: 3;}
#event .card .abs{ width: 100%; height: 100%; backface-visibility: hidden; transition: 0.5s;  z-index: 1;}
#event .card .img-box{ height: 100%; }
#event .card .front{ transform: rotateY(-180deg); }
#event .card .back{ transform: rotateY(0deg); background: #333; }
#event .card.active .front{ transform: rotateY(0deg);  }
#event .card.active .back{ transform: rotateY(180deg);  }
#event .card.success::before{ display: block;  }