*{margin: 0; padding: 0; box-sizing: border-box; color: #333;}
ul, li{list-style: none;}
a{text-decoration: none; color: inherit;}
input[type="radio"]{display: none;}
label{cursor: pointer;}

.flex{display: flex;}
.grid{display: grid;}
.none{display: none;}


#app{position: relative;}

/* 헤더 */
#app header{position: fixed; width: 100%; padding: 20px 50px;}
#app header .container{justify-content: space-between; align-items: center; font-size: 22px; font-weight: bold;}
#app header .container .menu{cursor: pointer;}
#app header .container label{display: block;}
#app header .container label::after{content: ""; display: block; width: 0%; height: 3px; margin: 3px 0; background: #333; transition: .3s;}
#app header .container label:hover::after{width: 100%; transition: .3s;}
#app header .container  .sns{position: relative; padding: 0 20px;}

#app header .container .sns .labels{width: 100px; justify-content: center;}
#app header .container .sns .labels label{display: none;}
#app header .container .sns .labels label.sns_off{font-size: 30px;}

#app header .container  .sns .icon_box .icon{position: absolute;}
#app header .container  .sns .icon_box .icon1{left: 200px; top: 120%; transition: .4s;}
#app header .container  .sns .icon_box .icon2{left: 260px; top: 120%; transition: .5s;}
#app header .container  .sns .icon_box .icon3{left: 320px; top: 120%; transition: .6s;}

#app header .container  .sns .icon_box img{width: 50px; height: 50px;}

#app #sns_on:checked~ header .sns .icon1{left: -20px; transition: .4s;}
#app #sns_on:checked~ header .sns .icon2{left: 40px; transition: .5s;}
#app #sns_on:checked~ header .sns .icon3{left: 100px; transition: .6s;}

#app #sns_on:checked~ header .sns label.sns_off{display: block;}
#app #sns_off:checked~ header .sns label.sns_on{display: block;}



/* 메인 페이지 */
#app main .content .item_container{width: 100%; height: 100vh; justify-content: center; align-items: center; gap: 145px; padding-top: 85px;}
#app main .content .item_container .item{width: 310px; cursor: pointer; transition: .5s;}
#app main .content .item_container .item:nth-child(1){margin-bottom: 40px; animation: content_move 6s infinite linear;}
#app main .content .item_container .item:nth-child(2){margin-bottom: 70px; animation: content_move 6s .5s infinite linear;}
#app main .content .item_container .item:nth-child(3){margin-bottom: -10px; animation: content_move 6s .7s infinite linear;}
#app main .content .item_container .item:hover{transform: translateY(-15px); transition: .5s;}
#app main .content .item_container .item .photo{flex-direction: column; gap: 3px;}
#app main .content .item_container .item .photo{border-radius: 20px; overflow: hidden; box-shadow: 0 0 3px #333;}
#app main .content .item_container .item .photo img{object-fit: cover; width: 100%; height: 100%;}
#app main .content .item_container .item .text{padding: 10px 15px;}
#app main .content .item_container .item .text .title{font-size: 20px; color: #888; margin-bottom: 10px;}
#app main .content .item_container .item .text p{color: #ddd; font-weight: bold;}


@keyframes content_move{
    0%{transform: scale(1.1);}
    50%{transform: scale(1.05);}
    100%{transform: scale(1.1);}
}

/* sub1 페이지 */
#app main section.specialty{width: 100%; height: 100vh; padding-top: 80px; overflow: hidden;}
#app main section.specialty>.title{margin: 20px 0; padding: 0 270px; font-size: 35px;}
#app main section.specialty .container{width: 100%; justify-content: center; align-items: center;}
#app main section.specialty .container .text_container{width: 400px; height: 600px; border: 1px solid #333;}
#app main section.specialty .container .svg{position: relative;}
#app main section.specialty .container .svg .areas{position: absolute; width: 100%; height: 100%; left: 0; top: 0;}
#app main section.specialty .container .svg .areas li{position: absolute; font-size: 25px; font-weight: bold; cursor: pointer; transition: .5s;}
#app main section.specialty .container .svg .areas li.L001{left: 57%; top: 53%;}
#app main section.specialty .container .svg .areas li.L002{left: 33%; top: 55%;}
#app main section.specialty .container .svg .areas li.L003{left: 46%; top: 80%;}
#app main section.specialty .container .svg .areas li.L004{left: 27%; top: 65%;}
#app main section.specialty .container .svg .areas li.L005{left: 71%; top: 49%;}
#app main section.specialty .container .svg .areas li.L006{left: 66%; top: 32%;}
#app main section.specialty .container .svg .areas li.L007{left: 60%; top: 80%;}
#app main section.specialty .container .svg .areas li.L008{left: 81%; top: 38%;}
#app main section.specialty .container .svg .areas li.L009{left: 40%; top: 40%;}
#app main section.specialty .container .svg .areas li.L010{left: 47%; top: 48%;}
#app main section.specialty .container .svg .areas li.L011{left: 51%; top: 30%;}
#app main section.specialty .container .svg .areas li.L012{left: 42%; top: 70%;}
#app main section.specialty .container .svg .areas li.L013{left: 23%; top: 89%;}
#app main section.specialty .container .svg .areas li.L014{left: 14%; top: 60%;}
#app main section.specialty .container .svg .areas li.L015{left: 20%; top: 42%;}
#app main section.specialty .container .svg .areas li.L016{left: 10%; top: 25%;}
#app main section.specialty .container .svg .areas li.L017{left: 20%; top: 11%;}
#app main section.specialty .container .svg .areas li.L018{left: 33%; top: 26%;}

#app main section.specialty .container .svg .areas li .explan{position: absolute; width: 190px; height: 180px; top: 1500px; flex-direction: column; justify-content: center; align-items: center; background: #fff; padding: 5px 10px; border: 2px solid #333; border-radius: 10px; left: 50%; transform: translateX(-50%); transition: .5s; z-index: 1;}
#app main section.specialty .container .svg .areas li .explan h4{font-size: 17px;}
#app main section.specialty .container .svg .areas li .explan img{width: 150px; height: 120px; object-fit: cover;}

#app main section.specialty .container .svg .areas li:hover{color: green; transition: .5s;}
#app main section.specialty .container .svg .areas li:hover > .explan{top: 140%; transition: .5s;}


/* sub2 페이지 */
#app main section.event{width: 100%; height: 100vh; height: 1200px; padding-top: 80px;}
#app main section.event>.title{margin: 20px 0; padding: 0 270px; font-size: 35px;}






/* sub3 페이지 */
#app main section.purchase{width: 100%; height: 100vh; padding-top: 80px;}
#app main section.purchase>.title{margin: 20px 0; padding: 0 270px; font-size: 35px;}
/* #app main section.purchase legend{font-size: 30px;} */



/* 푸터 */
#app footer{position: absolute; bottom: 5px; right: 5px;}
#app footer .copyright{color: #888; font-size: 17px; font-weight: bold;}


/* 팝업 */
#app .popup{position: fixed; width: 100%; height: 100vh; left: 0; top: -120%; background: rgba(0, 0, 0, .9); justify-content: center; align-items: center; transition: .7s; z-index: 1;}
#app .popup a{color: #eee;}
#app .popup .box{position: relative; width: 400px; height: 600px; background: #222;}
#app .popup .menu{padding: 40px 20px; list-style: square;}
#app .popup .menu p{font-size: 30px; line-height: 50px;}
#app .popup .menu li{font-size: 25px; line-height: 45px; padding: 5px 40px;}

#app .popup .box .close_btn{position: absolute; color: #fff; top: 15px; right: 30px;}
#app .popup .box .close_btn label{display: block; color: inherit; font-size: 40px;}

#app .popup .menu .high{color: red;}


#menu_on:checked~ .popup{top: 0%; transition: .7s;}

